
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расчет затрат на окраску элементов</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <img width="300" align="left" src="/static/img/rosat.png">
        <h1 align="right">Расчет затрат на окраску элементов</h1>
    </header>
    <section id="login" align="center">
    <img width="300px" src="../{{ pth }}">
    <br><br>
        <H1>Стоимость: {{res}}</H1>
    </section>


    <footer>
        <p>&copy; 2024 ГК "Росатом"</p>
    </footer>

</body>
</html>
