<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результат</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header>
        <img src="/static/img/min1.png">
        <h1>Фильтрация изображений животных</h1>
</header>
<h1 align="center">Zip с сегментированными изображениями</h1>
<a href="../{{ pth }}">Архив</a>
<br><br>
<p>Хороших изображений с животными: {{stat1}}</p>
<br>
<p>Плохих изображений с животными: {{stat0}}</p>
<br>
<p>Изображений без животных: {{statmn}}</p>

<footer>
        <p>&copy; 2024 Министерство природных ресурсов и экологии </p>
</footer>
</body>
</html>